body {
	color: #000000;
	font-family: Times, "Times New Roman", Georgia, serif;
	font-size: 10pt;
	text-align: center;
	background-color: #FFE4E1;

}

header {
	background-color: #585858;
	height:150px;
}

div.logo img{
	margin:0;
	padding:0;
	width:300px;
	height:150px;
	float: left;	
}
	
.navigation{
	font-size: 120%;
	display:flex;
	flex-wrap:wrap;	
	padding-top:0;
	margin-top:0;
	

}

.navigation a {
	color:white;
	margin:0;
}

.navigation a:link {
	padding: 14px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;	
}

.navigation a:hover {
	border: 3px solid white;
	background-color: #C0C0C0;
}

.navigation a.active {
	border: 3px solid white;	
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 5px;
}

.grid-item {
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 10px;
	font-size: 30px;
	text-align: center;
	width:300px;
	
}

.grid-item img {
	width:300px;
}

.grid-item:hover {
	border: 2px solid black;
}
